@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Fredoka", sans-serif;
}

:root {
  --color-blanco: white;
  --color-negro: black;
}
/*
layout
*/

body {
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 56px 1fr;
  grid-template-areas:
    "header  header"
    "sidebar contenedor";
  height: 100vh;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 5px;
}
.sidebar::-webkit-scrollbar-thumb {
  background-color: #717171;
}

.header {
  grid-area: header;
  /* grid-area: sidebar; */
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(11, 11, 11);
  height: 56px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
  padding-left: 10px;
}
a {
  text-decoration: none;
  font-size: 0.9rem;
  color: var(--color-blanco);
}
h1 {
  font-size: 1.5 1fr;
}
.logo {
  display: flex;
  gap: 4px;
  /* justify-items: center; */
}

.logo h1 {
  color: var(--color-blanco);
  letter-spacing: -1px;
}
.serch-content {
  display: flex;
  align-items: center;
  gap: 6px;
  flex: 0 1 685px;
}
.serch-content form {
  position: relative;
  width: 100%;
  display: flex;
}
.serch-content input {
  height: 40px;
  background-color: rgb(13, 13, 13);
  color: white;
  padding: 12px;
  outline: none;
  border: 1px solid rgb(255, 255, 255, 0.1);
  border-radius: 10px 0 0 10px;
  width: 100%;
}
.serch-content button {
  width: 40px;
  height: 40px;
  background-color: #313131;
  color: white;
  outline: none;
  border: none;
  font-size: 15px;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}
/* buscar espesificamente el icono que quiero personaliza ~ */
.serch-content form ~ button {
  color: rgb(140, 183, 224);
  border-radius: 50%;
  min-width: 40px;
}

img {
  /* position: absolute; */
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.logo-img {
  position: relative;
  height: 25px;
  width: 30px;
}
.logo_contenedor {
  display: flex;
  align-items: center;
  gap: 6px;
}
.contenedor {
  grid-area: contenedor;
  /* overflow: hidden; */
}
.profile-contenedor {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.profile-contenedor a {
  background-color: #313131;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-box {
  position: relative;
  height: 40px;
  width: 40px;
}
.profile-box img {
  border-radius: 50%;
}
.sidebar {
  grid-area: sidebar;
  background-color: var(--color-negro);
  padding: 12.5px;
  overflow-y: scroll;
}
.sidebar-items {
  display: flex;
  flex-direction: column;
  padding: 0 14px;
}
.sidebar-item {
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  gap: 10px;
  transition: 0.8s;
  border-radius: 10px;
}

.sidebar-item:hover {
  background-color: gray;
}
.sidebar-items i {
  margin-right: 24px;
  /* margin-left: 24px; */
}
hr {
  border: solid 1px rgb(50, 48, 48);
  margin: 12px 0;
}
i {
  font-size: 1.5rem;
}
p,
a {
  font-size: 0.9rem;
}
h4 {
  color: #525252;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 17px;
}
.chips_warpper {
  display: flex;
  overflow-x: scroll;
  background-color: #181818;
  padding-left: 14px;
  border-top: 1px solid rgb(255, 255, 255, 0.1);
  border-bottom: 1px solid rgb(255, 255, 255, 0.1);
  max-width: calc(100vw - 240px);
}
.chips_warpper::-webkit-scrollbar {
  height: 7px;
}

.chips_warpper:hover::-webkit-scrollbar-thumb {
  background-color: #717171;
}
.ship {
  margin: 12px 6px;
  background-color: #373737;
  padding: 6px 12px;
  color: #fff;
  cursor: pointer;
  border-radius: 16px;
  white-space: nowrap;
  transition: 0.5s;
}

.ship:hover {
  background-color: #d4d4d4;
  border-radius: 16px;
}

.video_container {
  display: grid;
  width: 100%;
  /* grid-template-columns: repeat(4, 1fr); */
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  height: calc(100vh -118px);
  padding: 20px;
  gap: 18px;
  overflow-y: auto;
  background-color: #313131;
}

.video-container_cover {
  position: relative;
  transition: 0.5s;
}
.video-content {
  margin-bottom: 25px;
  padding: 8px;
  border-radius: 12px;
  position: relative;
  transition: 0.5s;
  width: 100%;

  /* justify-content: center; */
}
.video-content img {
  position: relative;
  transition: 0.1s;
}
.video-content:hover {
  background-color: #373737;
}
.video-box img {
  object-fit: cover;
  border-radius: 12px;
}

.video-detail {
  display: flex;
  color: #fff;
  padding-top: 12px;
}
.detail {
  margin-left: 12px;
}
.chane-logo {
  position: relative;
  min-width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
}
.title {
  font-size: 0.9rem;
}
.chanel-name {
  font-size: 0.8rem;
  margin-top: 10px;
  color: #aaa;
}
.views-global {
  display: flex;
  font-size: 0.8rem;
  margin-top: 4px;
  color: #aaa;
}
